
body
{background-color: #E4AFDC;}
h1 {color: blue; position:absolute; left:350px;  }
p {color: black;
	margin-left: 31.5%;
	margin-right: 31.5%;
	font-size: 3em;
	border: 2px solid #000001;
	border-color: #BADA11;
	background: #BADA11;
	border-radius: 10px;
}

ul{ position:absolute; 
	left:550px;
	 top:300px;
	  color:red;
	   font-size:2.2em; }
	   .test {
	   	color: black;
	   }
.t1{border: 2px solid #000001; border: 2px solid #000001;border-radius: 10px;background: #BADA11;border-color: #BADA11; color:black;  height:50px; font-size:1.5em; position:absolute; top:430px; left:650px; }
.t2{border: 2px solid #000001;border: 2px solid #000001;border-color: #BADA11;border-radius: 10px;background: #BADA11; color:black;  height:50px; font-size:1.5em; position:absolute; top:530px; left:650px;}
